/*Tableau de bord Standardiste*/
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom right, #a6c0fe, #f68084); /* Adjust the colors as per the gradient in the image */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    background-color: #ffffff;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    border-bottom: 5px solid #000; /* Ajuster l'épaisseur et la couleur si nécéssaire */
}

.navigation {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    background: #ffffff;
}

.navigation button {
    padding: 10px 20px;
    border: none;
    background-color: #f2f2f2; 
    cursor: pointer;
}

.navigation button:hover {
    background-color: #e6e6e6; 
}

section {
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px; 
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd; 
}

th {
    background-color: #000;
    color: #fff;
}

tr:hover {
    background-color: #f5f5f5; 
}

form {
    display: flex;
    flex-direction: column;
}

form input[type="text"],
form input[type="datetime-local"],
form textarea,
form select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    padding: 10px 20px;
    border: none;
    background-color: #5cb85c; 
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #4cae4c; 
}
