<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Message - AccordEnergie</title>
</head>
<body>
    <h1>Message</h1>
    <p>{{ message }}</p>
    <a href="../classes/standardiste_dashboard.php">Retour au Tableau de Bord</a>
</body>
</html>
